body{
    height: 100px;
    background-image: linear-gradient(132deg, #BB8FCE, #2874A6);
	background-image: url("tec.jpg");
	background-size: 100%;
	
}
form{
margin-top:100px;
border-radius: 20px 20px;
width:250px;
background-color:#2874A6;
opacity:.8;
padding:20px;
margin-left:900px;
font-size:20px;
}
input[type=text], select {
    width:240px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input[type=submit] {
    width:190px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#a {
	width:100%;
	height:70px;
    background-color:black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	color:white;
}
#a ul {
  list-style:none;
}
#a ul li {
  background-color:black;
  color:white;
  width:130px;
  text-align:center;
  float:right;
  font-size:25px;
  font-family:Impact, Charcoal, sans-serif;
}
#a ul li:hover{
  color:#3498DB;
  font-size:23px;
  transition:all 0.3s;
}
#a ul li:hover > ul{
  display:block;
}
img {
    width: 106px;
	position:absolute;
}
